<body>
<div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createFolderModalLabel" th:text="#{create.folder.title}"></h1>
            </div>
            <form th:action="@{/create}" method="post">
                <div class="modal-body">
                    <input type="text" name="folderName" th:value="#{create.folder.example}" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{create.folder.cancel.btn}"></button>
                    <button type="submit" class="btn btn-primary" th:text="#{create.folder.create.btn}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>