<body>
<div class="files-type">
    <div class="files-type-item item-1">
        <input id="fid-1" type="radio" name="type" value="files" checked>
        <label for="fid-1">
            <i class="fa-regular fa-file me-2"></i> <span th:text="#{home.files}" class="d-none d-md-inline"></span>
        </label>
    </div>
    <div class="files-type-item item-2">
        <input id="fid-2" type="radio" name="type" value="folders">
        <label for="fid-2">
            <i class="fa-regular fa-folder me-2"></i>
            <span th:text="#{home.folders}" class="d-none d-md-inline"></span>
        </label>
    </div>
</div>
</body>
