<body>
<span th:switch="${fileType}">
     <span th:case="'png'"><i class="bi bi-filetype-png" style=" color: DarkRed;"></i></span>
     <span th:case="'jpg'"><i class="bi bi-filetype-jpg" style=" color: DarkRed;"></i></span>
     <span th:case="'pdf'"><i class="bi bi-filetype-pdf" style=" color: Red;"></i></span>
     <span th:case="'word'"><i class="bi bi-filetype-word " style=" color: Blue;"></i></span>
     <span th:case="'doc'"><i class="bi bi-filetype-doc" style=" color: Blue;"></i></span>
     <span th:case="'docx'"><i class="bi bi-filetype-docx " style=" color: Blue;"></i></span>
     <span th:case="'zip'"><i class="bi bi-file-zip " style=" color: Black;"></i></span>
     <span th:case="'exe'"><i class="bi bi-filetype-exe" style=" color: Grey;"></i></span>
     <span th:case="'txt'"><i class="bi bi-filetype-txt" style=" color: Grey;"></i></span>
     <span th:case="'xlsx'"><i class="bi bi-filetype-xlsx" style=" color: Green;"></i></span>
     <span th:case="'mp4'"><i class="bi bi-filetype-mp4" style=" color: PaleGoldenrod;"></i></span>
     <span th:case="'mp3'"><i class="bi bi-filetype-mp3" style=" color: PaleGoldenrod;"></i></span>
     <span th:case="'json'"><i class="bi bi-filetype-json" style=" color: Purple;"></i></span>
     <span th:case="*"><i class="bi bi-file-earmark" style=""></i></span>
</span>
</body>