<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" data-toggle="tooltip"
               th:title="#{navbar.back.to.home.page}" th:text="#{navbar.title}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul th:unless="${session.user}" class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="registration" th:text="#{navbar.registration}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login" th:text="#{navbar.authorization}"></a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 top-menu">

                    <li class="nav-item">
                        <th:block th:insert="~{components/dropdown-menu/dropdown-menu-locale}"></th:block>
                    </li>

                    <li class="nav-item" th:if="${session.user}">
                        <a class="nav-link" href="#" data-toggle="tooltip" th:title="#{navbar.personal.account}"
                           data-bs-toggle="modal"
                           data-bs-target="#modal-cart">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${session.user}">
                        <form th:action="@{/logout}" method="post" class="nav-link">
                            <button type="submit" class="icon-button" data-toggle="tooltip"
                                    th:title="#{navbar.exit.link}">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<th:block th:insert="~{components/modal/modal-personal-account}"></th:block>
<script src="/js/editField.js"></script>
</body>
