<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{components/head :: #head}">
    <title>Authorization Form</title>
</head>
<body>
<th:block th:insert="~{/components/navbar}"></th:block>

<section class="main-content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4" th:text="#{authorization.title}"></h1>
                <h6 class="mb-4">
                    <span th:text="#{authorization.question.about.account}" class="me-2"></span>
                    <a href="registration" th:text="#{authorization.registration.link}"></a>
                </h6>
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label" th:text="#{user.name}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <input type="email" class="form-control" id="username" name="username"
                                   th:placeholder="#{placeholder.username}"  required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" th:text="#{user.password}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:placeholder="#{placeholder.password}" minlength="3" maxlength="10" required>
                            <button class="btn btn-outline-secondary toggle-password" type="button"
                                    id="toggleconfirmPassword" th:text="#{show.btn}"></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="disableButton(this)" th:text="#{authorization.login}"></button>

                    <div th:if="${param.error}" class="error-message">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span th:text="#{error.login.message}"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="card col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a  href="/oauth2/authorization/google"><img src="https://skillicons.dev/icons?i=gmail" class="me-2" alt="google" th:text="#{authorization.google}"></a></li>
                    <li class="list-group-item"><a  href="/oauth2/authorization/github"><img src="https://skillicons.dev/icons?i=github" class="me-2" alt="gitgub" th:text="#{authorization.github}"></a></li>
                </ul>
            </div> 
        </div>
    </div>
</section>

<div id="passwordBtnText" class="d-none">
    <span id="showBtnText" th:text="#{show.btn}"></span>
    <span id="hideBtnText" th:text="#{password.hide}"></span>
    <span id="loadingText" th:text="#{loading}"></span>
</div>

<!--footer-->
<th:block th:insert="~{/components/footer}"></th:block>
<!--footer-->

<!--popup-->
<th:block th:insert="~{/components/popup-message/popup-cookies-message}"></th:block>
<!--popup-->

<!--scripts-->
<th:block th:insert="~{components/head :: #bootstrapScript}"></th:block>
<script src="/js/popup-cookies-message.js"></script>
<script src="/js/toggle-password.js" ></script>
<script src="/js/loading.js" ></script>
<!--scripts-->

</body>
</html>