<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authorization Form</title>
    <div th:insert="~{components/head :: #head}"></div>
</head>
<body>
<div th:insert="~{/components/navbar}"></div>

<section class="main-content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4" th:text="#{authorization.title}"></h1>
                <h6 class="mb-4">
                    <span th:text="#{authorization.question.about.account}" class="me-2"></span>
                    <a href="registration" th:text="#{authorization.registration.link}"></a>
                </h6>
                <form th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label" th:text="#{user.name}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <input type="text" class="form-control" id="username" name="username"
                                   th:placeholder="#{placeholder.username}" minlength="3" maxlength="20" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" th:text="#{user.password}"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password"
                                   th:placeholder="#{placeholder.password}" minlength="3" maxlength="10" required>
                            <button class="btn btn-outline-secondary toggle-password" type="button"
                                    id="toggleconfirmPassword" th:text="#{show.btn}"></button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="disableButton(this)" th:text="#{authorization.login}"></button>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="card col-md-4">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a  href="google"><img src="/picture/google.png" class="me-2" alt="google" th:text="#{authorization.google}"></a></li>
                </ul>
            </div> 
        </div>
    </div>

</section>

<!--footer-->
<div th:insert="~{/components/footer}"></div>
<!--footer-->

<!--popup-->
<div th:insert="~{/components/popup}"></div>
<!--popup-->

<!--scripts-->
<div th:insert="~{components/head :: #bootstrapScript}"></div>
<div th:insert="~{components/head :: #toggle-password}"></div>
<div th:insert="~{components/head :: #loading}"></div>
<!--scripts-->

</body>
</html>